<html>
    <%- include ('./partials/head.ejs') %>
    <body>
      <div class="login-page">
        <div class="form">
          <form class="login-form" method="post" action="/users/find">
            <input name="username" type="text" placeholder="username"/>
            <input name="password" type="password" placeholder="password"/>
            <button>Login</button>
            <p class="message">Not registered? <a href="/api/register">Create an account</a></p>
          </form>
        </div>
      </div>
    </body>
</html>